@import url("https://fonts.googleapis.com/css2?family=Alice&family=Assistant:wght@500&family=Kalam:wght@300&family=Poppins:wght@300&display=swap");
@import url('https://fonts.googleapis.com/css2?family=Dancing+Script&display=swap');
@import url('https://fonts.googleapis.com/css2?family=PT+Sans&family=Ubuntu+Mono&display=swap');
/* VARIABLES */

:root{
  /* font color */
  --UNIVERSAL-FC: #ffffff; 

  /* font style */
  --UNIVERSAL-FF:  "Poppins", sans-serif; 
  --LOGO-FF: 'Dancing Script', cursive; 
  --UBUNTU: 'Ubuntu Mono', monospace;

  /* BG-color */
  --UNIVERSAL-BC: #000000; 
  --SCROLL-BG: rgb(255, 0, 115); 
  --SCROLL-BG-HOVER: rgb(177, 0, 80); 
  --HR-TAG-BG: #a4b3d3; 
  --PURPLE-COLOR: rgb(125, 75, 226); 
  --GRAY-COLOR:gray; 
  --FADED-COLOR: rgb(255 248 248 / 15%); 
  --PROJECTS-BG: rgb(17 4 42); 
  --PROJECTS-BS: rgb(101 69 195 / 50%) 0px 4px 12px; 

  /* BG-images */
  --UNIVERSAL-BG-IMG: radial-gradient(at 0% 0%, hsla(253,16%,7%,1) 0, transparent 50%), 
  radial-gradient(at 50% 0%, rgb(36, 52, 97) 0, transparent 50%), 
  radial-gradient(at 100% 0%, rgb(144, 24, 66) 0, transparent 50%);
  --LIGHT-BG-IMG-1:linear-gradient(#08ffe6, #fcd200); 
  --LIGHT-BG-IMG-2:linear-gradient(#fcd200, #fc002e); 
  --LOGO-BG-IMG: linear-gradient(to right, white, rgb(166, 127, 243)); 
  --FOOTER-BG-IMG: radial-gradient(at 0% 100%, hsla(253,16%,7%,1) 0, transparent 53%), 
  radial-gradient(at 50% 150%, hsla(339,49%,30%,1) 0, transparent 50%);

  /* filters */
  --IMG-DROP-SHADOW: drop-shadow(0px 0px 2px white);
}

/* RESET */
*{
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html,body{
  width: 100%;
  scroll-behavior: smooth;
  overflow-x: hidden;
}

body {
  position: relative;
  z-index: 5;
  color: var(--UNIVERSAL-FC);
  font-family: var(--UNIVERSAL-FF);
}

img{
  display: block;
}

a {
  text-decoration: none;
  color: var(--UNIVERSAL-FC);
}

::-webkit-scrollbar{
  width: 10px;
}
::-webkit-scrollbar-track{
  background-color: var(--UNIVERSAL-BC);
}
::-webkit-scrollbar-thumb{
  background-color: var(--SCROLL-BG);
  border-radius: 5px;
}
::-webkit-scrollbar-thumb:hover {
  background: var(--SCROLL-BG-HOVER); 
}

main hr {
  border: 0;
  background: var(--HR-TAG-BG);
  height: 1px;
  margin: 0 3rem;
  box-shadow: 0px 12px 25px 0px;
}

/* UTILITY */
body::before{
  content: "";
  width: 100%;
  height: 100%;
  background-color: rgba(2, 2, 2, 0);
  position: absolute;
  left: 0;
  right: 0;
  z-index: -1;
  backdrop-filter: blur(25px);
}

.no-wrap {
  white-space: nowrap;
}


/* MAIN */

.gradient-bg-services {
  background-color:var(--UNIVERSAL-BC);
  background-image: var(--UNIVERSAL-BG-IMG); 
  background-attachment: fixed;
}

.display-bottom { 
  scroll-margin-top: 6rem;
}

.lights{
  width: 200px;
  height: 200px;
  border-radius: 50%;
  position: absolute;
  z-index: -2;
  opacity: 0.8;
  box-shadow: 1px 1px 16px 8px white;
}

.light-1{
  background-image: var(--LIGHT-BG-IMG-1);
  background-repeat: no-repeat;
  top: 2rem;
  left: -8rem;
}
.light-2{
  background-image: var(--LIGHT-BG-IMG-2);
  right: -9rem;
  bottom: 0;
}

#display-548px {
  display: none;
}

header {
  position: fixed;
  width: 100%;
  top: 0;
  z-index: 10;
  background-color: rgba(2,2,2,0.2);
  transform: translateY(-100%);
  box-shadow: 0 1px 12px 1px black;
  border-radius: 0 0 10px 10px;
  transition: all 0.2s ease-in-out;
}

nav {
  width: 85vw;
  max-width: 100%;
  margin: 0 auto;
  display: flex;
  justify-content: space-between;
  align-items: center;
  padding: 12px 0;
}

.underline{
  margin-top: 2px;
  width: 100%;
  height: 2px;
  background-color: var(--SCROLL-BG);
  transform: scale(0);
  transition: all 0.2s ease-in-out;
  transform-origin: left;
}

li:hover .underline{
  transform: scale(1);
}

.sign {
  font-family: var(--LOGO-FF);
  font-size: clamp(1rem, 1.5vw, 2rem);
}

.sign h1, .linear-gradient-name {
  background-image: var(--LOGO-BG-IMG);
  -webkit-background-clip: text;
  background-clip: text;
  color: transparent;
}
.sign a:hover, .sign a:focus, nav ul li a:hover, nav ul li a:focus {
  filter: brightness(150%);
}

nav ul{
  display: flex;
  align-items: center;
}

nav ul li {
  list-style: none;
  margin: 0 clamp(10px, 2vw, 20px);
}


/* SECTION 1 */

.home {
  width: 85vw;
  height: 100vh;
  max-height: 1024px;
  margin: 0 auto;
  padding: 0 clamp(0px, 3vw, 50px);
  display: flex;
  justify-content: space-between;
  align-items: center;
  position: relative;
}

#fade-name {
  position: absolute;
  bottom: -10%;
  left: 50%;
  transform: translateX(-50%);
}

.about > div {
  width: 35%;
}


.left-info {
  width: clamp(300px, 40vw, 600px);
  font-size: clamp(1.7rem, 4vw, 3rem);
  margin-top: 100px;
}

.left-info2{
  transform: translateX(-100vw);
}

.slide-to-right{
  transform: translateX(0);
  transition: all 1s ease-out;
}

.right-img{
  position: relative;
  height: 100%;
  width: calc(100% - 40vw);
  /* max-width: 400px; */
  min-width: 400px;
  /* display: flex;
  align-items: end; */
}
.pic-div{
  width: 100%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
}

.right-img #img1 {
  width: 100%;
  height: auto;
  min-height: 612px;
  min-width: 550px;
  transform: rotate(245deg) scale(1.3);
  filter:drop-shadow(5px 5px 5px  yellow);

}

.right-img .pic{
  position: absolute;
  top: 50%;
  left: 50%;
  box-shadow: 0px 5px 12px black;
  transform: translate(-50%,-50%);
  border-radius: 20%;
  width: 300px;
  height: auto;
}

.right-img #img2{
  display: none;
}

@keyframes breadth {
  0% {
    transform: scale(1) translateX(0);
  }
  50% {
    transform: scale(1.01) translateX(-0.8%);
  }

  100% {
    transform: scale(1) translateX(0);
    /* filter: drop-shadow(4px 4px 6px rgba(0, 0, 0, 0.631));
    filter: drop-shadow(18px 10px 4px #0b0ba7); */
  }
}

.purple {
  color: var(--PURPLE-COLOR);
}

.circle-abs{
  position: absolute;
  right: -25%;

}

.circle{
  width: clamp(200px, 45vw, 400px);
  height: clamp(200px, 45vw, 400px);
  border: 1px solid white;
  border-radius: 100%;
  position: relative;
  z-index: -1;
  animation: rotating 12s linear infinite;
}

@keyframes rotating {
  from {
    -ms-transform: rotate(0deg);
    -moz-transform: rotate(0deg);
    -webkit-transform: rotate(0deg);
    -o-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  to {
    -ms-transform: rotate(360deg);
    -moz-transform: rotate(360deg);
    -webkit-transform: rotate(360deg);
    -o-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}

.circleImg{
  position: absolute;
}

.img1{
  transform: rotate(90deg);
  left: 40%;
  top: -60px;
}
.img2{
  bottom: 10%;
  right: -50px;
}
.img3{
  bottom: 10%;
  left: -50px;
}

#about-down {
  font-size: 13px;
  margin-right: 2rem;
  cursor: pointer;
}


/* About Section */
.about {
  display: flex;
  justify-content: space-around;
  align-items: center;
  margin: 50px 0;
  font-size: 1.2rem;
  opacity: 0;
}


.about-me {
  display: inline-block;
    border: 1px solid var(--PURPLE-COLOR);
    padding: 5px;
    border-radius: 20px;
    box-shadow: var(--PURPLE-COLOR) 0px 2px 4px;
}

.grey {
  color: var(--GRAY-COLOR);
  font-size: 1rem;
}

.sub-size {
  font-size: 18px;
}

.about > div > ul, #left-info p {
  margin: 25px 0;
}

#left-info p {
  text-align: start;
  word-spacing: 1.6px;
  line-height: 1.6;
}

.noStyleList li {
  list-style: none;
}

.ul-lists {
  font-size: 1.15rem;
}

.education {
  width: 40%;
}

.out-container{
  display: flex;
  flex-direction: column;
  width: 100%;
  margin: 2rem auto;
}

.line{
  width: 100%;
  height: 0.25rem;
  background-color: var(--UNIVERSAL-FC);
  box-shadow: 0px -1px 20px 2px whitesmoke;
}

.sub-box{
  display: flex;
  justify-content: space-evenly;
  /* align-items: center; */
}

.vecrticle{
  height: 3rem;
  width: 2px;
  background-color: var(--UNIVERSAL-FC);
}

.small-box{
  display: flex;
  flex-direction: column;
  align-items: center;
  opacity: 0;
  transform: translateY(100%);
}

.comeToTop{
  opacity: 1;
  transform: translateY(0%);
  transition: all 1s;
}



.img-logo {
  width: 77px;
  height: auto;
  position: relative;
  top: -5px;
 
}

.verticle-line img + span {
  display: flex;
  width: 50px;
}

.link {
  display: none;
  padding: 10px 15px;
  border-radius: 20px;
  background: var(--PURPLE-COLOR);
  box-shadow: 0px 0px 3px 0px var(--PURPLE-COLOR);
}

.hover-show-parent{
  display: flex;
  align-items: center;
  flex-direction: column;
  position: relative;
}

.btn {
  display: flex;
  justify-content: center;
  padding: 8px;
  font-size: 1.2em;
  width: clamp(50px, 20vw, 80px);
  border: none;
  background-color: rgba(125, 75, 226,0.3);
  color: var(--UNIVERSAL-FC);
  border-radius: 5px;
  cursor: pointer;
}

.skill-note{
  background-color: #0f0e13;
  background-image: var(--UNIVERSAL-BG-IMG);
  background-attachment: fixed;
  border: 1px solid var(--UNIVERSAL-FC);
  padding: 0.5rem;
  border-radius: 5px;
  width: 25vw;
  transition: all 5s ease-in-out;
  transform-origin: top;
  display: none;
  position: absolute;
  top: 100%;
  z-index: 100;
}

.skill-note ul li{
  margin-left: 0.75rem;
  text-align: left;
}

.btn:hover ~.skill-note, .hover-show-parent:hover .skill-note{
  display: block;
}

#full-socio {
  margin-top: 3rem;
}

.social-handle {
  width: 100%;
  margin-top: 25px;
}

.social-handle ul {
  display: flex;
  justify-content: start;
  align-items: center;
}

.social-handle ul li {
  list-style: none;
  margin: 0 10px 0 0;
}

.social-handle ul li img {
  width: clamp(50px, 8vw, 60px);
  aspect-ratio: 1/1;
}

.tech {
  max-width: 83vw;
  margin: auto;
  /* height: 45vh; */
  position: relative;
}

.coding-website{
  margin: 0;
}

.faded-text {
  font-size: 5rem;
  color: var(--FADED-COLOR);
  font-weight: bold;
  user-select: none;
}

#fade-tech {
  position: absolute;
  right: -20%;
  top: -20%;
}


/* Preoject Section */

.project {
  width: clamp(300px, 85vw, 1200px);
  margin: 50px auto;
}

.flex-box {
  margin-top: 2rem;
  width: 100%;
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  gap: 1.5rem;
  flex-wrap: wrap;
}

.single-warap {
  width: clamp(300px, 30%, 400px);
  height: 22rem;
  min-height: 400px;
  position: relative;
  background: var(--PROJECTS-BG);
  box-shadow: var(--PROJECTS-BS);
  border-radius: 15px;
  opacity: 0;
}

.faded-box {
  width: 100%;
  height: 50%;
  position: relative;
  overflow: hidden;
  border-radius: 15px;
}

.faded-box img {
  width: 100%;
  height: 100%;
  background-attachment: fixed;
  transition: all 0.05s ease-in-out 0s;
}

.faded-box span {
  position: absolute;
  top: -100%;
  left: 50%;
  transform: translate(-50%, 0);
  font-size: 1rem;
  color: var(--UNIVERSAL-FC);
  text-shadow: 0 0 6px var(--UNIVERSAL-FC);
  transition: all 0.05s ease-in-out 0s;
  z-index: 1;
}

.head-desc{
  margin-top: 5px;
  text-align: center;
  font-size: clamp(0.75rem, 2vw, 1rem);
}

.head-desc p{
  padding: 0 0.25rem;
}

.go-link {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 1rem 0;
  border-radius: 0 0 15px 15px;
  position: absolute;
  left: 50%;
  transform: translateX(-50%); 
  bottom: 0;
} 

 .go-link button {
  color: white;
  cursor: pointer;
  font-size: clamp(0.75rem, 2vw, 1rem);
  background: var(--PURPLE-COLOR);
  padding: 0.25rem;
  border: none;
  border-radius: 50px;
  box-shadow: 0px 0px 9px var(--PURPLE-COLOR);
  transition: all 0.05s linear;
}

.go-link button:hover {
  background: rgb(17, 0, 48);
  box-shadow: none;
}


.faded-box::before {
  content: "";
  background-color: rgba(0, 0, 0, 0.754);
  width: 100%;
  height: 100%;
  position: absolute;
  top: 0;
  left: 0;
  transform: scaleY(0);
  transition: all 0.05s ease-in-out 0s;
  transform-origin: top;
  z-index: 1;
}


.faded-box:hover::before,
.faded-box:active::before {
  transform: scaleY(1);
}

 .faded-box:hover span,
.faded-box:hover span {
  top: 50%;
  transform: translate(-50%, -50%);
}

.faded-box:hover img {
  transform: scale(1.2);
}

/* Footer section */

.gradient-bg-footer {
  background-color: #0f0e13;
  background-image: var(--FOOTER-BG-IMG);  
}

footer {
  text-align: center;
  padding: 10px 0 0 0;
}

.footer {
  display: flex;
  align-items: center;
  justify-content: space-evenly;
  margin: 10px 0;
}
.footer div {
  text-align: start;
}
.footer-second ul {
  list-style-type: none;
}
.footer-first img {
  border-radius: 100%;
  width: clamp(50px, 4vw, 150px);
  height: auto;
}
#footer-right {
  color: var(--GRAY-COLOR);
  display: block;
  margin: 25px 0 0 0;
}
.total-list {
  display: flex;
  justify-content: flex-end;
}
.total-list .menu-button {
  display: none;
}


/* CONTACT ME */

.contact-section {
  width: 100%;
  margin: 30px 0;
}

.contact-section-container {
  width: 70%;
  text-align: center;
  margin: 0 auto;
}
.contact-me {
  font-size: clamp(16px, 4.2vw, 32px);
  opacity: 0;
}
.contact-me-desc {
  font-size: clamp(16px, 3.2vw, 25px);
  opacity: 0;
}
.contact-me-form {
  width: 100%;
  margin: 10px auto;
  opacity: 0;
}

.form-input {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-around;
  row-gap: 1.5rem;
  margin-bottom: 0.5rem;
  
}
.formfield {
  outline: none;
  width: 85%;
  padding: 10px;
  border-radius: 3px;
  box-shadow: 0px 4px 5px -2px black;
  border: none;
  background-color: #b59db44a;
  box-shadow: var(--UNIVERSAL-BC) 0px 3px 8px;
  font-size: 1rem;
  border-radius: 15px;
  color: var(--UNIVERSAL-FC);
}

#text-area {
  height: 5rem;
  resize: none;
}
.button {
  width: max-content;
  margin: 0 auto;
  padding: 0.5rem 0.7rem;
  background-color: #482a47;
  border-radius: 5px;
  box-shadow: var(--UNIVERSAL-BC) 0px 20px 30px -10px;
  cursor: pointer;
}


.out-container-phone{
  display: none;
  position: relative;
  margin: 2em 0;
  min-height: 70vh;
}

.out-container-phone::before{
  content: '';
  display: block;
  height: 100%;
  width: 2px;
  background-color: white;
  position: absolute;
  left: 50%;
  transform: translateX(-50%);
}

.out-container-phone .tech-stack{
  width: 50%;
}
.tech-stack svg path{
  fill: rgb(24 28 46 / 51%);
  stroke: gray;
  stroke-opacity: 2.9;  
}

.out-container-phone .tech-stack:nth-child(even) svg{
  transform: rotateY(180deg);
}

.tech-stack{
  position: relative;
  opacity: 0;
  margin: 8rem 0;
}
.tech-stack h3{
  font-family: var(--UBUNTU);
  position: absolute;
  letter-spacing: 0.2em;
  top: -5%;
}
.tech-stack:nth-child(odd) h3{
  right: 0;
  z-index: -1;
}
.tech-stack .data{
  width: 70%;
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  display: flex;
  justify-content: space-evenly;
  align-items: center;
  padding: 5px;
  display: flex;
  flex-wrap: wrap;
}
.data img{
  width: 40%;
  height: auto;
  border-radius: 100%;
}

.out-container-phone .tech-stack:nth-child(even){
  left: 50%;
  transform: translateX(1em);
}

.out-container-phone .tech-stack:nth-child(odd){
  transform: translateX(-1em);
}



@media screen and (max-width: 767px){
  .faded-text{
    display: none;
  }

  .home{
    flex-direction: column-reverse;
    padding: 0;
    justify-content: space-evenly;
    min-height: 1000px;
  }

  .left-info{
    width: 85vw;
    margin-top: 0;
  }
  
  #full-socio {
    margin-top: 1rem;
}

  .right-img{
    max-width: 100vw;
    min-width: 300px;
    width: 100vw;
    height:50vh;
  }

  .right-img #img1{
    display: none;
  }

  .right-img #img2{
    display: block;
    width: 100%;
    min-width: 550px;
    height: auto;
    filter: var(--IMG-DROP-SHADOW);
    transform: rotate(245deg);
    transform: scale(1.3);
  }

  .pic-div{
    top: 43%;
  }

  .circle-abs{
    top: 11%;
    left: -23%;
  }

  .circleImg img{
    width: 80px;
    height: auto;
  }

  .img1{
    left: 40%;
    top: -50px;
  }
  .img2{
    bottom: 10%;
    right: -25px;
  }
  .img3{
    bottom: 10%;
    left: -25px;
  }

  .about{
    flex-direction: column;
    font-size: 1rem;
  } 

  .about>div{
    width: 85vw;
    margin: 0 auto;
  }

  .disp-none{
    display: none;
  }

  .see-more{
    display: block;
  }

  .faded-box {
    height: 40%;
  }

  .contact-section-container {
    width: 100%;
  }

  #connect{
    flex-direction: column;
    width: 100%;
    text-align: center;
    gap: 1rem;
  }

  .footer-first{
    width: 100%;
    display: flex;
    align-items: center;
    justify-content: center;
    gap: 1rem;
  }
  .footer-second{
    width: 100%;
  }

  .footer-second ul{
    display: flex;
    align-items: center;
    justify-content: space-evenly;
  }
  .footer-third h3{
    display: none;
  }

  .footer-third{
    width: 100%;
  }

  .social-handle{
    margin: 0;
  }
  .footer-third ul{
    justify-content: center;
  }
}


@media screen and (max-width: 650px) {
  .active{
    display: flex;
  }

  nav ul{
    padding: 1rem 0;
    display: none;
    position: absolute;
    top: 100%;
    right: 0;
    width: 100%;
    flex-direction: column;
    gap: 0.5rem;
    background-color: #1818187d;
    background-image: var(--FOOTER-BG-IMG);
    backdrop-filter: blur(16px);
    font-size: 1rem;
    transform-origin: top center;
    animation: dropDown 0.5s ease forwards;
    border-radius: 0 0 10px 10px;
  }

  .total-list .menu-button {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: space-evenly;
    cursor: pointer;
    background-color: transparent;
    width: 35px;
    height: 35px;
    border: none;
    position: relative;
  }

  .menu-icon{
    background-color: white;
    width: 30px;
    height: 3px;
    border-radius: 5px;
  }

  .hide-Bar{
    background-color: transparent;
  }

  .bar-rotate-1{
    position: absolute;
    transform: rotate(45deg) ;
  }

  .bar-rotate-3{
    position: absolute;
    transform: rotate(-45deg);
  }

  /* TRANSITIONS LIMIT */
  .menu-icon {
    transition: all 0.5s ease 0s;
  }

  @keyframes dropDown {
    0% {
      transform: scaleY(0);
    }
    95% {
      transform: scaleY(1.2);
    }
    100% {
      transform: scaleY(1);
    }
  }

  .out-container{
    display: none;
  }

  .out-container-phone{
    display: block;
  }
}


.show{
  transform: scale(1);
  opacity: 1;
  transition: all 1s;
}